$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

@font-face {
    font-family: 'icomoon';
    src: url('font/icomoon.eot?370dad08');
    src: url('font/icomoon.eot?370dad08#iefix') format('embedded-opentype'),
    url('font/icomoon.woff?370dad08') format('woff'),
    url('font/icomoon.ttf?370dad08') format('truetype'),
    url('font/icomoon.svg?370dad08#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
.happycons {
position: relative;
    -webkit-font-smoothing: antialiased;
    font-size: 120px !important;
    font-family: 'icomoon' !important;
    z-index: 1;
    opacity: 0.3;

} 
.pad {
border:0; outline:none;
box-shadow:none;
-moz-appearance:none;
-webkit-appearance:none;
z-index: 2;
    width: 95%;
    height: 600px; 
    overflow-y: scroll;
    border: none;
    background-color: none;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    padding-right:50px;
    padding-left:50px;
    padding-bottom: 400px;
}
.editor{
    padding-top: 10px;
}
.problemword {
    font-size: 11px;
}